In [49]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [50]:
df = pd.read_csv("carprice_original.csv")
profile = ProfileReport(df, title="Profiling Report")

In [51]:
# profile.to_notebook_iframe()

In [52]:
# profile.to_html()

In [53]:
profile.to_file('prix_voiture_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [54]:
# profile.to_widgets()

In [55]:

# Load CSV file into a DataFrame
df = pd.read_csv('carprice_original.csv')
# set the maximum number of columns to be displayed to None
pd.set_option("display.max_columns", None)

# Display the first 5 rows of the Data
print(df.head(5))

   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  carlength  carwidth  \
0  convertible        rwd          front       88.6      168.8      64.1
1  convertible        rwd          front       88.6      168.8      64.1
2    hatchback        rwd          front       94.5      171.2      65.5
3        sedan        fwd          front       99.8      176.6      66.2
4        sedan        4wd          front       99.4      176.6      66.4

   carheight  curbweight enginetype cylindernumber  enginesize fuelsystem  \
0       48.8        2548       dohc           four         130       mpfi
1       48.8        2548       dohc           four         130       mpfi
2       52.4        2823       ohcv            six         152       mpfi
3       54.3        2337        ohc           four         109       mpfi
4       54.3        2824        ohc           five         136       mpfi

   boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  \
0       3.47    2.68               9.0         111     5000       21
1       3.47    2.68               9.0         111     5000       21
2       2.68    3.47               9.0         154     5000       19
3       3.19    3.40              10.0         102     5500       24
4       3.19    3.40               8.0         115     5500       18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [57]:
# Pour séparer la colonne nommée "symboling" en deux colonnes distinctes nommées "marque" et "modèle
df[['marque', 'modèle']] = df['CarName'].str.split(' ', 1, expand=True)

df.drop('CarName', axis=1, inplace=True)

df.to_csv('prix_voiture.csv', index=False)

/tmp/ipykernel_98598/3617452879.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['marque', 'modèle']] = df['CarName'].str.split(' ', 1, expand=True)

#### Pour nettoyer et modifier votre fichier CSV pour qu'il soit conforme aux normes françaises:

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  marque            205 non-null    object
 26  modèle            203 non-null    object
dtypes: float64(8), int64(8), object(11)
memory usage: 43.4+ KB

In [59]:

# Modifier les valeurs de la colonne "fueltype"
df["fueltype"] = df["fueltype"].replace({"gas": "essence", "diesel": "diesel"})

# Modifier les valeurs de la colonne "aspiration"
df["aspiration"] = df["aspiration"].replace({"std": "atmosphérique", "turbo": "turbo"})

# Modifier les valeurs de la colonne "doornumber"
df["doornumber"] = df["doornumber"].replace({"two": "deux", "four": "quatre"})

# Modifier les valeurs de la colonne "carbody"
df["carbody"] = df["carbody"].replace({"hatchback": "berline compacte", "sedan": "berline", "wagon": "break"})

# Modifier les valeurs de la colonne "drivewheel"
df["drivewheel"] = df["drivewheel"].replace({"rwd": "propulsion", "fwd": "traction", "4wd": "quatre roues motrices"})

# Modifier les valeurs de la colonne "enginelocation"
df["enginelocation"] = df["enginelocation"].replace({"front": "avant", "rear": "arrière"})

# Renommer les colonnes "carlength", "carwidth" et "carheight"
df = df.rename(columns={"carlength": "longueur", "carwidth": "largeur", "carheight": "hauteur"})
#######################################################

df = df.rename(columns={'car_ID': 'identifiant', 'symboling': 'etat_de_route', 'fueltype': 'carburant', 'aspiration': 'turbo', 'doornumber': 'nombre_portes', 'carbody': 'type_vehicule', 'drivewheel': 'roues_motrices', 'enginelocation': 'emplacement_moteur', 'wheelbase': 'empattement', 'carlength': 'longueur_voiture', 'carwidth': 'largeur_voiture', 'carheight': 'hauteur_voiture', 'curbweight': 'poids_vehicule', 'enginetype': 'type_moteur', 'cylindernumber': 'nombre_cylindres', 'enginesize': 'taille_moteur', 'fuelsystem': 'systeme_carburant', 'boreratio': 'taux_alésage', 'stroke': 'course', 'compressionratio': 'taux_compression', 'horsepower': 'chevaux', 'peakrpm': 'tour_moteur', 'citympg': 'consommation_ville', 'highwaympg': 'consommation_autoroute', 'price': 'prix'})

df.to_csv('prix_voiture.csv', index=False)

#### Il y a 2 valeurs null dans la colonne "modèle". On supprime ces deux lignes.

In [60]:
df = df.dropna()

# display the resulting DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   identifiant             203 non-null    int64
 1   etat_de_route           203 non-null    int64
 2   carburant               203 non-null    object
 3   turbo                   203 non-null    object
 4   nombre_portes           203 non-null    object
 5   type_vehicule           203 non-null    object
 6   roues_motrices          203 non-null    object
 7   emplacement_moteur      203 non-null    object
 8   empattement             203 non-null    float64
 9   longueur                203 non-null    float64
 10  largeur                 203 non-null    float64
 11  hauteur                 203 non-null    float64
 12  poids_vehicule          203 non-null    int64
 13  type_moteur             203 non-null    object
 14  nombre_cylindres        203 non-null    object
 15  taille_moteur           203 non-null    int64
 16  systeme_carburant       203 non-null    object
 17  taux_alésage            203 non-null    float64
 18  course                  203 non-null    float64
 19  taux_compression        203 non-null    float64
 20  chevaux                 203 non-null    int64
 21  tour_moteur             203 non-null    int64
 22  consommation_ville      203 non-null    int64
 23  consommation_autoroute  203 non-null    int64
 24  prix                    203 non-null    float64
 25  marque                  203 non-null    object
 26  modèle                  203 non-null    object
dtypes: float64(8), int64(8), object(11)
memory usage: 44.4+ KB

In [61]:
df = pd.read_csv("prix_voiture.csv")
profile = ProfileReport(df, title="Profiling Report")
profile.to_file('prix_voiture_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [62]:
# Selectionner les colonnes numeriques
numeric_cols = df.select_dtypes(include=['int', 'float']).columns
numeric_cols

Index(['identifiant', 'etat_de_route', 'empattement', 'longueur', 'largeur',
       'hauteur', 'poids_vehicule', 'taille_moteur', 'taux_alésage', 'course',
       'taux_compression', 'chevaux', 'tour_moteur', 'consommation_ville',
       'consommation_autoroute', 'prix'],
      dtype='object')

In [63]:
# Conversion des unités américaines en unités françaises
df['empattement'] = (df['empattement'] * 0.0254).round(2)
df['longueur'] = df['longueur'] * 0.0254
df['largeur'] = df['largeur'] * 0.0254
df['hauteur'] = df['hauteur'] * 0.0254
df['poids_vehicule'] = df['poids_vehicule'] * 0.453592
df['taille_moteur'] = df['taille_moteur'] * 0.0163871
df['taux_alésage'] = df['taux_alésage'] * 25.4
df['course'] = df['course'] * 25.4
df['consommation_ville'] = 235.214 / df['consommation_ville']
df['consommation_autoroute'] = 235.214 / df['consommation_autoroute']

df.to_csv('prix_voiture.csv', index=False)

# Afficher les premières lignes du DataFrame pour vérifier les modifications
print(df.head())

   identifiant  etat_de_route carburant          turbo nombre_portes  \
0            1              3   essence  atmosphérique          deux
1            2              3   essence  atmosphérique          deux
2            3              1   essence  atmosphérique          deux
3            4              2   essence  atmosphérique        quatre
4            5              2   essence  atmosphérique        quatre

      type_vehicule         roues_motrices emplacement_moteur  empattement  \
0       convertible             propulsion              avant         2.25
1       convertible             propulsion              avant         2.25
2  berline compacte             propulsion              avant         2.40
3           berline               traction              avant         2.53
4           berline  quatre roues motrices              avant         2.52

   longueur  largeur  hauteur  poids_vehicule type_moteur nombre_cylindres  \
0   4.28752  1.62814  1.23952     1155.752416        dohc             four
1   4.28752  1.62814  1.23952     1155.752416        dohc             four
2   4.34848  1.66370  1.33096     1280.490216        ohcv              six
3   4.48564  1.68148  1.37922     1060.044504         ohc             four
4   4.48564  1.68656  1.37922     1280.943808         ohc             five

   taille_moteur systeme_carburant  taux_alésage  course  taux_compression  \
0       2.130323              mpfi        88.138  68.072               9.0
1       2.130323              mpfi        88.138  68.072               9.0
2       2.490839              mpfi        68.072  88.138               9.0
3       1.786194              mpfi        81.026  86.360              10.0
4       2.228646              mpfi        81.026  86.360               8.0

   chevaux  tour_moteur  consommation_ville  consommation_autoroute     prix  \
0      111         5000           11.200667                8.711630  13495.0
1      111         5000           11.200667                8.711630  16500.0
2      154         5000           12.379684                9.046692  16500.0
3      102         5500            9.800583                7.840467  13950.0
4      115         5500           13.067444               10.691545  17450.0

        marque        modèle
0  alfa-romero        giulia
1  alfa-romero       stelvio
2  alfa-romero  Quadrifoglio
3         audi        100 ls
4         audi         100ls

In [64]:
df.describe()

,identifiant,etat_de_route,empattement,longueur,largeur,hauteur,poids_vehicule,taille_moteur,taux_alésage,course,taux_compression,chevaux,tour_moteur,consommation_ville,consommation_autoroute,prix
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,2.508098,4.420851,1.674058,1.364612,1159.184227,2.079643,84.575805,82.687532,10.142537,104.117073,5125.121951,9.958586,8.041664,13276.710571
std,59.322565,1.245307,0.152794,0.313367,0.054488,0.062065,236.176375,0.682403,6.879430,7.965364,3.972040,39.544167,476.985643,2.575447,1.851467,7988.852332
min,1.000000,-2.000000,2.200000,3.583940,1.531620,1.214120,674.944896,0.999613,64.516000,52.578000,7.000000,48.000000,4150.000000,4.800286,4.355815,5118.000000
25%,52.000000,0.000000,2.400000,4.224020,1.628140,1.320800,972.954840,1.589549,80.010000,78.994000,8.600000,70.000000,4800.000000,7.840467,6.918059,7788.000000
50%,103.000000,1.000000,2.460000,4.399280,1.663700,1.374140,1094.971088,1.966452,84.074000,83.566000,9.000000,95.000000,5200.000000,9.800583,7.840467,10295.000000
75%,154.000000,2.000000,2.600000,4.650740,1.699260,1.409700,1331.292520,2.310581,90.932000,86.614000,9.400000,116.000000,5500.000000,12.379684,9.408560,16503.000000
max,205.000000,3.000000,3.070000,5.285740,1.836420,1.518920,1844.305072,5.342195,100.076000,105.918000,23.000000,288.000000,6600.000000,18.093385,14.700875,45400.000000