In [53]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [54]:
df = pd.read_csv("carprice_original.csv")
profile = ProfileReport(df, title="Profiling Report")

In [55]:
# profile.to_notebook_iframe()

In [56]:
# profile.to_html()

In [57]:
profile.to_file('prix_voiture_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [58]:
# profile.to_widgets()

In [59]:

# Load CSV file into a DataFrame
df = pd.read_csv('carprice_original.csv')
# set the maximum number of columns to be displayed to None
pd.set_option("display.max_columns", None)

# Display the first 5 rows of the Data
print(df.head(5))

   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  carlength  carwidth  \
0  convertible        rwd          front       88.6      168.8      64.1
1  convertible        rwd          front       88.6      168.8      64.1
2    hatchback        rwd          front       94.5      171.2      65.5
3        sedan        fwd          front       99.8      176.6      66.2
4        sedan        4wd          front       99.4      176.6      66.4

   carheight  curbweight enginetype cylindernumber  enginesize fuelsystem  \
0       48.8        2548       dohc           four         130       mpfi
1       48.8        2548       dohc           four         130       mpfi
2       52.4        2823       ohcv            six         152       mpfi
3       54.3        2337        ohc           four         109       mpfi
4       54.3        2824        ohc           five         136       mpfi

   boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  \
0       3.47    2.68               9.0         111     5000       21
1       3.47    2.68               9.0         111     5000       21
2       2.68    3.47               9.0         154     5000       19
3       3.19    3.40              10.0         102     5500       24
4       3.19    3.40               8.0         115     5500       18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [61]:
# Pour séparer la colonne nommée "symboling" en deux colonnes distinctes nommées "marque" et "modèle
df[['marque', 'modèle']] = df['CarName'].str.split(' ', 1, expand=True)

df.drop('CarName', axis=1, inplace=True)

df.to_csv('prix_voiture.csv', index=False)

/tmp/ipykernel_84894/3617452879.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['marque', 'modèle']] = df['CarName'].str.split(' ', 1, expand=True)

#### Pour nettoyer et modifier votre fichier CSV pour qu'il soit conforme aux normes françaises:

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  marque            205 non-null    object
 26  modèle            203 non-null    object
dtypes: float64(8), int64(8), object(11)
memory usage: 43.4+ KB

In [63]:

# Modifier les valeurs de la colonne "fueltype"
df["fueltype"] = df["fueltype"].replace({"gas": "essence", "diesel": "diesel"})

# Modifier les valeurs de la colonne "aspiration"
df["aspiration"] = df["aspiration"].replace({"std": "atmosphérique", "turbo": "turbo"})

# Modifier les valeurs de la colonne "doornumber"
df["doornumber"] = df["doornumber"].replace({"two": "deux", "four": "quatre"})

# Modifier les valeurs de la colonne "carbody"
df["carbody"] = df["carbody"].replace({"hatchback": "berline compacte", "sedan": "berline", "wagon": "break"})

# Modifier les valeurs de la colonne "drivewheel"
df["drivewheel"] = df["drivewheel"].replace({"rwd": "propulsion", "fwd": "traction", "4wd": "quatre roues motrices"})

# Modifier les valeurs de la colonne "enginelocation"
df["enginelocation"] = df["enginelocation"].replace({"front": "avant", "rear": "arrière"})

# Renommer les colonnes "carlength", "carwidth" et "carheight"
df = df.rename(columns={"carlength": "longueur", "carwidth": "largeur", "carheight": "hauteur"})
#######################################################

df = df.rename(columns={'car_ID': 'identifiant', 'symboling': 'etat_de_route', 'fueltype': 'carburant', 'aspiration': 'turbo', 'doornumber': 'nombre_portes', 'carbody': 'type_vehicule', 'drivewheel': 'roues_motrices', 'enginelocation': 'emplacement_moteur', 'wheelbase': 'empattement', 'carlength': 'longueur_voiture', 'carwidth': 'largeur_voiture', 'carheight': 'hauteur_voiture', 'curbweight': 'poids_vehicule', 'enginetype': 'type_moteur', 'cylindernumber': 'nombre_cylindres', 'enginesize': 'taille_moteur', 'fuelsystem': 'systeme_carburant', 'boreratio': 'taux_alésage', 'stroke': 'course', 'compressionratio': 'taux_compression', 'horsepower': 'chevaux', 'peakrpm': 'tour_moteur', 'citympg': 'consommation_ville', 'highwaympg': 'consommation_autoroute', 'price': 'prix'})

df.to_csv('prix_voiture.csv', index=False)

#### Il y a 2 valeurs null dans la colonne "modèle". On supprime ces deux lignes.

In [64]:
df = df.dropna()

# display the resulting DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   identifiant             203 non-null    int64
 1   etat_de_route           203 non-null    int64
 2   carburant               203 non-null    object
 3   turbo                   203 non-null    object
 4   nombre_portes           203 non-null    object
 5   type_vehicule           203 non-null    object
 6   roues_motrices          203 non-null    object
 7   emplacement_moteur      203 non-null    object
 8   empattement             203 non-null    float64
 9   longueur                203 non-null    float64
 10  largeur                 203 non-null    float64
 11  hauteur                 203 non-null    float64
 12  poids_vehicule          203 non-null    int64
 13  type_moteur             203 non-null    object
 14  nombre_cylindres        203 non-null    object
 15  taille_moteur           203 non-null    int64
 16  systeme_carburant       203 non-null    object
 17  taux_alésage            203 non-null    float64
 18  course                  203 non-null    float64
 19  taux_compression        203 non-null    float64
 20  chevaux                 203 non-null    int64
 21  tour_moteur             203 non-null    int64
 22  consommation_ville      203 non-null    int64
 23  consommation_autoroute  203 non-null    int64
 24  prix                    203 non-null    float64
 25  marque                  203 non-null    object
 26  modèle                  203 non-null    object
dtypes: float64(8), int64(8), object(11)
memory usage: 44.4+ KB

In [65]:
df = pd.read_csv("prix_voiture.csv")
profile = ProfileReport(df, title="Profiling Report")
profile.to_file('prix_voiture_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [66]:
# Select only the numeric columns
numeric_cols = df.select_dtypes(include=['int', 'float']).columns
numeric_cols

Index(['identifiant', 'etat_de_route', 'empattement', 'longueur', 'largeur',
       'hauteur', 'poids_vehicule', 'taille_moteur', 'taux_alésage', 'course',
       'taux_compression', 'chevaux', 'tour_moteur', 'consommation_ville',
       'consommation_autoroute', 'prix'],
      dtype='object')

In [68]:
# Conversion des unités américaines en unités françaises
df['empattement'] = df['empattement'] * 0.0254
df['longueur'] = df['longueur'] * 0.0254
df['largeur'] = df['largeur'] * 0.0254
df['hauteur'] = df['hauteur'] * 0.0254
df['poids_vehicule'] = df['poids_vehicule'] * 0.453592
df['taille_moteur'] = df['taille_moteur'] * 0.0163871
df['taux_alésage'] = df['taux_alésage'] * 25.4
df['course'] = df['course'] * 25.4
df['consommation_ville'] = 235.214 / df['consommation_ville']
df['consommation_autoroute'] = 235.214 / df['consommation_autoroute']

df.to_csv('prix_voiture.csv', index=False)

# Afficher les premières lignes du DataFrame pour vérifier les modifications
print(df.head())

   identifiant  etat_de_route carburant          turbo nombre_portes  \
0            1              3   essence  atmosphérique          deux
1            2              3   essence  atmosphérique          deux
2            3              1   essence  atmosphérique          deux
3            4              2   essence  atmosphérique        quatre
4            5              2   essence  atmosphérique        quatre

      type_vehicule         roues_motrices emplacement_moteur  empattement  \
0       convertible             propulsion              avant     0.057161
1       convertible             propulsion              avant     0.057161
2  berline compacte             propulsion              avant     0.060968
3           berline               traction              avant     0.064387
4           berline  quatre roues motrices              avant     0.064129

   longueur   largeur   hauteur  poids_vehicule type_moteur nombre_cylindres  \
0  0.108903  0.041355  0.031484      524.240050        dohc             four
1  0.108903  0.041355  0.031484      524.240050        dohc             four
2  0.110451  0.042258  0.033806      580.820118        ohcv              six
3  0.113935  0.042710  0.035032      480.827707         ohc             four
4  0.113935  0.042839  0.035032      581.025864         ohc             five

   taille_moteur systeme_carburant  taux_alésage     course  taux_compression  \
0       0.034910              mpfi     2238.7052  1729.0288               9.0
1       0.034910              mpfi     2238.7052  1729.0288               9.0
2       0.040818              mpfi     1729.0288  2238.7052               9.0
3       0.029271              mpfi     2058.0604  2193.5440              10.0
4       0.036521              mpfi     2058.0604  2193.5440               8.0

   chevaux  tour_moteur  consommation_ville  consommation_autoroute     prix  \
0      111         5000                21.0                    27.0  13495.0
1      111         5000                21.0                    27.0  16500.0
2      154         5000                19.0                    26.0  16500.0
3      102         5500                24.0                    30.0  13950.0
4      115         5500                18.0                    22.0  17450.0

        marque        modèle
0  alfa-romero        giulia
1  alfa-romero       stelvio
2  alfa-romero  Quadrifoglio
3         audi        100 ls
4         audi         100ls